.body {
    margin: 150px 250px;
    text-align: center;
    
    .carousel {  
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        scroll-behavior: smooth;
    
            .wrapperImg {  
                position: relative;
                width: 2600px;
                overflow: hidden;

                .images {
                    overflow: hidden;

                    img {
                        object-fit: cover;
                        margin: 0 40px;
                    }
                }
            }
    }

        .carouselBtns {
            position: relative;
            display: inline-block;
    
            .btn {
                position: absolute;
                border: 0;
                padding: 10px;
                cursor: pointer;
                background: black;
                color: white;
            }

    
            .btn:nth-of-type(2) {
                margin: 0 50px;
            }
        }
}

  
  
// @media only screen and (max-width: 768px) {
//     .carousel {
//         overflow-x: scroll;
//     }
  
//     .carousel::after {
//         content: "→";
//         position: absolute;
//         top: 50vh;
//         right: 0;
//     }

//     .carousel::before {
//         content: "←";
//         position: absolute;
//         top: 50vh;
//         left: 0;
//     }
  
//     .carouselBtns {
//       display: none;
//     }
//   }